[Unit]
Description=FO: проверять бэкенд в GitHub каждые две минуты

[Timer]
OnBootSec=90
OnUnitActiveSec=120
AccuracySec=15

[Install]
WantedBy=timers.target
